<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand px-3" href="#">
    <img ngSrc="assets/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    Atlas
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-fill navbar-nav mr-0 mt-2 mt-lg-0 w-100">
      @for (navItem of navItems; track navItem.displayName) {
        <li class="nav-item">
          <a class="nav-link" href="#">{{navItem.displayName}}</a>
        </li>
      }
    </ul>
  </div>
</nav>

