<div class="card overflow-hidden text-center text-light">
    <div class="atlas-bg-gradient w-100 h-100">
        <div class="card-body">
            <h3 class="card-title">Rational Agent</h3>
            <div class="row">
                <div class="col">
                    <fa-icon class="fa-5x fa-fw" [icon]="faPerson"></fa-icon>
                    <h5 class="card-title">User</h5>
                    <p class="card-text">Students aspire to <b>obtain knowledge</b> about the topics covered by the courses they're enrolled in.</p>
                </div>
                <div class="col-auto">
                    <div class="row h-100 align-items-center">
                        <div class="col">
                            <p class="card-text small mb-2">Request Help</p>
                            <fa-stack>
                                <fa-icon [icon]="faArrowRightLong" stackItemSize="2x" transform="up-5"></fa-icon>
                                <fa-icon [icon]="faArrowLeftLong" stackItemSize="2x" transform="down-5"> </fa-icon>
                            </fa-stack>
                            <p class="card-text small mt-2">Recommend</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <fa-icon class="fa-5x fa-fw" [icon]="faBrain"></fa-icon>
                    <h5 class="card-title">Rational Agent</h5>
                    <p class="card-text">
                        Atlas provides a <b>Goal Based Agent</b> that continuously observes the environment to <b>guide</b> learners throughout their learning experience.
                    </p>
                </div>
                <div class="col-auto">
                    <div class="row h-100 align-items-center">
                        <div class="col">
                            <fa-icon class="fa-3x fa-fw" [icon]="faRepeat"></fa-icon>
                            <p class="card-text small">Analyze</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <fa-icon class="fa-5x fa-fw" [icon]="faSquarePollVertical"></fa-icon>
                    <h5 class="card-title">Environment</h5>
                    <p class="card-text">
                        In Artemis Instructors can offer a variety of <b>Exercise</b> types, <b>Lecture Units</b>, and a <b>Competency Model</b> for their students.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
