<div class="card h-100">
    <div class="card-body">
        <!-- image -->
        @if (contributor().imgSrc) {
            <div class="circular-image-container mt-3">
                <img ngSrc="{{ contributor().imgSrc }}" class="circular-image" alt="Alt Text TODO" width="1000" height="1000" />
            </div>
        } @else {
            <i class="bi bi-person-bounding-box icon-large"></i>
        }

        <!-- name -->
        <h5 class="card-title mt-4">{{ contributor().titlePrefix || '' }} {{ contributor().firstName }} {{ contributor().lastName }} {{ contributor().titleSuffix || '' }}</h5>

        <!-- categories -->
        @for (category of contributor().categories; track category) {
            <p class="card-text">{{ category }}</p>
        }
    </div>
</div>
