<div class="row vh-50 m-0">
    <div class="col p-1">
        <app-icon-card [faIcon]="faCoffee" title="Atlas" body="Main Atlas Banner" />
    </div>
</div>
<div class="row vh-50 m-0">
    <div class="col-4 p-1">
        <app-icon-card [faIcon]="faCoffee" title="Main Features" body="ABC" />
    </div>
    <div class="col-8 p-1">
        <app-icon-card [faIcon]="faCoffee" title="Artemis" body="Artemis summary" />
    </div>
</div>
<div class="row m-0">
    <div class="col-6 p-0">
        <div class="row m-0">
            <div class="col-12 p-1"><app-icon-card [faIcon]="faCoffee" title="Research Design" body="Research Design" /></div>
        </div>
        <div class="row m-0">
            <div class="col-4 p-1"><app-icon-card [faIcon]="faCoffee" title="Github" /></div>
            <div class="col-4 p-1"><app-icon-card [faIcon]="faCoffee" title="Courses" /></div>
            <div class="col-4 p-1"><app-icon-card [faIcon]="faCoffee" title="Users" /></div>
        </div>
        <div class="row m-0">
            <div class="col-12 p-1"><app-icon-card [faIcon]="faCoffee" title="TODO" body="TODO" /></div>
        </div>
    </div>
    <div class="col-6 p-0">
        <div class="row m-0">
            <div class="col-7 p-1"><app-icon-card [faIcon]="faCoffee" title="Learning Path Generation" body="TODO" /></div>
            <div class="col-5 p-1"><app-icon-card [faIcon]="faCoffee" title="TODO" body="TODO" /></div>
        </div>
        <div class="row m-0">
            <div class="col-5 p-1"><app-icon-card [faIcon]="faCoffee" title="TODO" body="TODO" /></div>
            <div class="col-7 p-1"><app-icon-card [faIcon]="faCoffee" title="Competencies" body="TODO" /></div>
        </div>
    </div>
</div>

<div class="row m-0">
    <div class="col p-1">
        <app-learning-path-ssd />
    </div>
</div>

<div class="row m-0">
    <div class="col p-1">
        <app-contributors />
    </div>
</div>

<!-- <router-outlet /> -->
