@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$light:      #fffff8;
$dark:       #2920ac;
$primary:    #ffb805;
$secondary:  #43e8d8;
$info:       #86d1ef;
$success:    #67dd00;
$warning:    #ffd295;
$danger:     #ff336d;

$theme-colors: (
  "light": $light,
  "dark": $dark,
  "primary": $primary,
  "secondary": $secondary,
  "info": $info,
  "success": $success,
  "warning": $warning,
  "danger": $danger
);

@import "../node_modules/bootstrap/scss/bootstrap";

.vh-25 {
  height: 25vh !important;
}

.vh-50 {
  height: 50vh !important;
}

.atlas-bg-gradient {
  background: linear-gradient(135deg, $dark 0%, 30%, $secondary 100%) !important;
}

.atlas-card-glass-morphism {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-color: rgba($light, 0.2);
}

@import "styles/categories";
