@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$light:      #fffff8;
$dark:       #2920ac;
$primary:    #ffb805;
$secondary:  #43e8d8;
$info:       #86d1ef;
$success:    #67dd00;
$warning:    #ffd295;
$danger:     #ff336d;

$theme-colors: (
  "light": $light,
  "dark": $dark,
  "primary": $primary,
  "secondary": $secondary,
  "info": $info,
  "success": $success,
  "warning": $warning,
  "danger": $danger
);

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

.icon-large {
  font-size: 3em;
}
